*{
margin: 0;
}

body{
    background-color: white;
}
header{
    height: 250px;
   background-color: #000c4f;
}
main{
    background-color:#dcdce0;
    height: 750px;
}
footer{
    background-color: #000c4f;
    height: 250px;
}
nav{
    background-color: #276100;
    max-height: 50px;
    position: relative;
    top: 25%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20%;
}

nav ul li {
    display: inline;
    color: white;
    font-size: 150%;
    margin: 0.8%;
}
.ch{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    -webkit-text-stroke-width: 3.25px;
    -webkit-text-stroke-color: black;
}
main .ch{
    text-align: center;
    position: relative;
    top: 25%;
}
header .ch{
    text-align: center;
    position: relative;
    top: 25%;
}
footer .ch{
    text-align: center;
    position: relative;
    top: 25%;
}
.logoccm{
    height: 50%;
    position: relative;
    bottom: 23.5%;
}
.login{
    height: 20%;
    position: relative;
    bottom: 30.5%;    
    left: 75%;
}
.logout{
    height: 20%;
    position: relative;
    bottom: 30.5%;    
    left: 55%;
}